/* Drawer CSS */

#drawer {
    position: absolute;
    background-color: #fff;
    width: 200px;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: transform .5s;
    z-index: 4;
    text-align: center;
}

/* Drawer 열린 상태 */
.open {
    box-shadow: 0px 10px 10px #000;
    transform: translateX(0px);
}

/* Drawer 닫힌 상태 */
.close {
    transform: translateX(-200px);
}

/* Drawer 제목 */
#drawer-title {
    padding-top: 20px;
    font-weight: bold;
    font-size: 1.8rem;
}