/* 게임화면 CSS */


/* 메인화면 배경 이미지, 영역 크기 지정 */
#game {
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    background-color: #353535;
}

/* 게임 내의 상단 영역(보유 현금 등...) */
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

/* 상단 영역 요소(보유 현금, 코인 수 등..) */
.header-info {
    margin: 10px 5px;
    background-color: goldenrod;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    float: right;
}

/* 부스트 활성화 시 추가 코인 량 */
#coin-per-second-boost {
    position: absolute;
    top: 45px;
    right: 5px;
    background-color: #c54040;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 2px 6px;
    font-size: 0.8rem;
    display: none;
}

.header-boost {
    margin: 10px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    color: #fff;
    float: left;
}

#boost-percent {
    background-color: #c54040;
}

#boost-time {
    background-color: #50b970;
}

/* 실내 */
#home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 100%;
    background: url('../static/room1.png') no-repeat center;
    z-index: 0;
}

/* 내 컴퓨터 영역 */
#my-computer {
    cursor: pointer;
    position: absolute;
    top: 150px;
    left: 230px;
    height: 150px;
    text-align: center;
    animation: arrow 1s alternate infinite;
}

.my-computer-image {
    width: 100px;
    height: 100px;
}

/* 핸드폰 영역 */
#phone {
  cursor: pointer;
  position: absolute;
  top: 250px;
  right: 300px;
  height: 150px;
  text-align: center;
  animation: arrow 1s alternate infinite;
}

/* 현관문 영역 */
#door {
    cursor: pointer;
    position: absolute;
    top: 70px;
    right: 185px;
    height: 250px;
    text-align: center;
    animation: arrow 1s alternate infinite;
}

/* 영역 표시 아이콘 */
.arrow-area {
    font-weight: bold;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 2px;
}

/* 아이콘 위 아래로 움직이는 애니메이션 */
@keyframes arrow {
    100% {
        transform: translateY(20px);
    }
}

/* 게임 종료 버튼 */
#game-exit {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #c54040;
    border: 1px solid #c54040;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: .5s;
}

#game-exit::before {
    content: '종료'
}

#game-exit:hover {
    background-color: #fff;
    color: #c54040;
}

/* 정보 영역 */
#information {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #000;
    text-align: center;
}

/* 개발자, 디자이너 정보 */
#information-info {
    padding: 20px 15px;
    background-color: #fff;
    border-radius: 10px;
}

/* 최신버전 확인 버튼 */
#lastest-version {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    background-color: #50b970;
    border: 1px solid #50b970;
    border-radius: 5px;
    margin: 10px 0px;
    color: #fff;
}

#lastest-version:hover {
    background-color: #fff;
    color: #50b970;
}

/* 메인으로 이동하는 버튼 */
#information-exit {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e45641;
    border: 1px solid #e45641;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

#information-exit:hover {
    background-color: #fff;
    color: #e45641;
}

#information-exit::before {
    content: '메인으로';
}

.hide {
    display: none;
}
