/* 게임화면 CSS */


/* 메인화면 배경 이미지, 영역 크기 지정 */
#game {
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    background-color: #353535;
}

/* 게임 내의 상단 영역(보유 현금 등...) */
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

/* 상단 영역 요소(보유 현금, 코인 수 등..) */
.header-info {
    margin: 10px 5px;
    background-color: lightskyblue;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    float: right;
}

/* 실내 */
#home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    width: 100%;
    height: 100%;
    background: url('../static/room1.png') no-repeat center;
    z-index: 0;
}

/* 내 컴퓨터 영역 */
#my-computer {
    cursor: pointer;
    position: absolute;
    top: 150px;
    left: 230px;
    height: 150px;
    text-align: center;
    animation: arrow 1s alternate infinite;
}

/* 내 컴퓨터 영역 아이콘 */
#computer-icon div {
    font-weight: bold;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 2px;
}

/* 현관문 영역 */
#door {
    cursor: pointer;
    position: absolute;
    top: 70px;
    right: 185px;
    height: 250px;
    text-align: center;
    animation: arrow 1s alternate infinite;
}

/* 현관문 영역 아이콘 */
#door-icon div {
    font-weight: bold;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 2px;
}

/* 아이콘 위 아래로 움직이는 애니메이션 */
@keyframes arrow {
    100% {
        transform: translateY(20px);
    }
}

/* 게임 종료 버튼 */
#game-exit {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #c54040;
    border: 1px solid #c54040;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: .5s;
}

#game-exit::before {
    content: '종료'
}

#game-exit:hover {
    background-color: #fff;
    color: #c54040;
}
