/* 팝업 CSS */

.popup {
    position: absolute;
    width: 350px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 10px;
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    z-index: 4;
}

/* 팝업 X 버튼 */
.popup-close {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 10px;
    color: #e45641;
    font-weight: bold;
}

.popup-close::before {
    content: 'x'
}

/* 팝업 숨김 상태 */
.popup-hide {
    display: none;
}

/* 팝업 보이는 상태 */
.popup-show {
    display: block;
}

/* 팝업 상단 제목 */
.popup-title {
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* 팝업 내용 */
.popup-content {
    height: 180px;
    overflow-y: auto;
}

/* 팝업 내용 영역 스크롤바 숨기기 */
.popup-content::-webkit-scrollbar {
    display: none;
}

/* 팝업 내 아이템 */
.popup-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

/* 팝업 아이템 내의 하위 항목 (상세정보) */
.popup-sub-item {
    margin: 5px 0;
}

/* 컴퓨터 부품 명 */
.module-name {
    margin: 10px 0;
}

/* 오버클럭 버튼 */
.overclock-button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: #da9841;
    border: 1px solid #da9841;
    border-radius: 5px;
    color: #fff;
    transition: .5s;
}

.overclock-button:hover {
    background-color: #fff;
    color: #da9841;
}

/* 매장 상품 이미지 */
.item-img {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

/* 매장 상품 이름 */
.store-item-name {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* 매장 상품 상세정보 */
.store-sub-item {
    margin: 3px;
}

/* 구매 버튼 */
.buy-button {
    cursor: pointer;
    outline: none;
    border: 1px solid #50b970;
    background-color: #50b970;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s;
}

.buy-button:hover {
    background-color: #fff;
    color: #50b970;
}

/* 구매 버튼 비활성화 */
.buy-button:disabled {
    cursor: unset;
    background-color: #888;
    border: 1px solid #888;
    color: #000;
}

.buy-button:disabled:hover {
    background-color: #888;
    color: #000;
}

.store-limit {
    color: #e45641;
    font-size: 0.8rem;
    margin-top: 5px;
}
