/* 팝업 CSS */

#popup {
    position: absolute;
    width: 350px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 10px;
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    z-index: 9998;
}

/* 팝업 X 버튼 */
#popup-close {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 10px;
    color: #e45641;
    font-weight: bold;
}

#popup-close::before {
    content: 'x'
}

/* 팝업 숨김 상태 */
.popup-hide {
    display: none;
}

/* 팝업 보이는 상태 */
.popup-show {
    display: block;
}

#popup-title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

#popup-content {
    height: 180px;
    overflow-y: auto;
}

#popup-content::-webkit-scrollbar {
    display: none;
}

.popup-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.popup-sub-item {
    margin: 5px 0;
}